.courses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
}

MLIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 100px;
}

MLIntro-list {
    color: blue;
    list-style-type: none;
    margin: 10px 100px;
    padding: 0;
}

MLIntro-list li {
    margin: 10px 0;
}

#resources {
    margin-top: 20px;
    color: firebrick;
}
